<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-zinc-900">
    <div class="form">
      
      <form action="/edit/<%=id%>" method="post" class="text-white px-4 py-2 space-y-2">
        <input
          type="text"
          id="title"
          placeholder="Enter the title"
          name="newTitle"
          class="block bg-zinc-800 w-full p-2 outline-none"
        />
        <textarea
          name="newDesc"
          id=""
          cols="30"
          rows="10"
          class="block bg-zinc-800 w-full p-2 outline-none resize-none"
          placeholder="Description"
        ></textarea>
        <input
          type="submit"
          placeholder="Submit"
          class="px-3 py-2 bg-blue-600 cursor-pointer rounded-sm"
        />
      </form>
    </div>
  </body>
</html>
